{% extends 'base.html' %}

{% block content %}

<h2>ABOUT ME:<br>
<br>
I’m a self-taught web developer currently focused on Django and front-end design.
I enjoy turning simple ideas into clean, functional websites that work smoothly on both desktop and mobile.<br>
    <br>
<em>Right now I specialize in:</em><br>
<br>
    Personal portfolios<br>

    Student websites<br>

    Small business pages<br>

My goal is to continuously improve my design sense and backend skills while delivering work that is practical and reliable.<br>
<br>
<em>SKILLS:</em><br>
    <br>
    Backend<br>

    Python<br>

    Django<br>

    Basic CRUD Applications<br>

    Forms & Authentication<br>

    Frontend<br>

    HTML<br>

    CSS<br>

    Responsive Layouts<br>

    Basic JavaScript<br>
<br>
<em>Tools:</em><br>
<br>
    Git / GitHub<br>

    VS Code<br>

    Basic Deployment Knowledge<br>
    <br>
</h2>

{% endblock %}
