{% extends 'base.html' %}

{% block content %}
<h1>Projects:</h1><br>
<br>
<h2><em>Personal Portfolio Website</em><br>
    <br>
    A clean, responsive portfolio template built with Django and CSS.<br>
    Focus on layout, spacing, and mobile compatibility.<br>
    <br>
    <em>Notes/Task Manager App</em><br>
    <br>
    Basic CRUD web app with login, add/edit/delete functionality.<br>
    Built to strengthen backend logic and database handling.<br>
    <br>
    <em>Learning Log/Notes Writing App</em><br>
    <br>
    App to write your daily notes ,experiences,photos <br>
    and share with others or make them private.<br>
    <br>
    <em>Book Selling and Review App</em><br>
    <br>
    Page where you can buy different books ,know their details <br>
    and get them delivered to your home and write reviews about <br>
    certain books.<br>

</h2>

{% endblock %}